.App {
  text-align: center;
  background-color: #4e7afa;
  color: #dee2e6;
  font-size: 26px;
}

.main {
  text-align: center;
  display: flex;
}

.col-1 {
  width: 18.33%;
}

.box {
  border: 2px solid lightgray;
  margin-bottom: 5px;
  margin-left: 15px;
}





