body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  background-color: rgba(231, 226, 220, 0.863);
}

.app {
  display: flex;
  margin: 2%;
  justify-content: center;
  justify-items: center;
  border: 2px solid black;
  padding: 2%;
}

.item {
  border: 2px solid red;
  width: 49%;
}

.friends-list {
  margin: 2%;
  border: 1px solid lightcoral;
  padding: 2%;
}

.friends {
  margin: 2%;
  padding: 2%;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
}

.add-friends {
  margin: 2%;
  padding: 2%;
  border: 1px solid rgba(100, 100, 100, 0.8);
}

.add-friends button {
  margin: 5% 50%;
}

.add-friends .add-friends-item {
  position: relative;
}

.add-friends .add-friends-item input {
  position: absolute;
  right: 5%;
}
img {
  width: 40px;
}

.split-calculator-form h3 {
  font-size: small;
  display: inline-block;
  margin: 2% 5%;
}

.split-calculator-form .expense-fields {
  display: flex;
}

.split-calculator-form .expense-fields {
  text-align: right;
  position: relative;
}

.split-calculator-form .expense-fields input {
  position: absolute;
  right: 5%;
}
