* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgba(221, 177, 19, 0.89);
}

.text {
  font-size: x-large;
  text-align: center;
}

div {
  display: inline-block;
}
